<% provide(:title, 'Post') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
      <strong>
        <h2> Content: </h2>
      </strong>
      <%= @post.content %>
    </p>
    <% if logged_in? %>
      <strong>
        User name:
      </strong>
      <%= @post.user.name %>
      <p>
        <% if current_user.admin? || current_user?(@post.user) %>
            <%= link_to "delete", @post, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </p>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <% if @post.comments.any? %>
      <h2>Comments</h2>
      <ol>
        <%= render @comments %>
      </ol>
    <% end %>
  </div>
  <div class="col-md-6 col-md-offset-3">
    <%= render 'comment_form' %>
  </div>
</div>
